
<div class = "left">
  <%= image_tag portfolio.image.url(:large)%>

</div>
<div class = "right">
    <p>
      <strong>Name:</strong>
      <%= @monster.name %>
    </p>

    <p>
      <strong>Species:</strong>
      <%= @monster.species %>
    </p>

    <p>
      <strong>Element:</strong>
      <%= @monster.element %>
    </p>

    <p>
      <strong>Weakness:</strong>
      <%= @monster.weakness %>
    </p>

    <p>
      <strong>Info:</strong>
      <%= @monster.info %>
    </p>
</div>
<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
