<% provide(:title, @user.name) %>
<div class="row">
  <aside class="userpane">
    <section class="user_info">

          <div class = "bgimage">
            <%= image_tag @user.bgimage.url(:large)%>
          </div>

          <div class = "profileinfo">
            <h1>
              <%= image_tag @user.image.url(:thumb)%>
              <%= @user.name %>
            </h1>
          </div>
          
     
    </section>
  </aside>
  <div class ="leftpane">



  </div>
  <div class="rightpane">
    <% if @user.portfolios.any? %>
      <h3>Portfolios </h3>
      
        <%= render @portfolios %>
      
      <%= will_paginate @portfolios %>
    <% end %>
  </div>
  <div class = "clear"></div>
</div>
