<div class = "jumbotron page-content-wrapper">
	<div class = "container-fluid">	

		<table class = "table table-hover">
			<thread>
				<tr>
				 <th> <strong>Picture:</strong></th>
				 <th><strong>Name:</strong></th>
				 <th><strong>Info:</strong></th>
				</tr>
			</thread>
			<tbody>
				<tr>
				 	<td><%= image_tag @photo.image.url(:thumb) %></td>
					<td><%= @photo.name %></td>
					<td><%= @photo.info %></td>
				</tr>
			</tbody>
		</table>

		<%= link_to 'Edit', edit_photo_path(@photo) %> |
		<%= link_to 'Back', photos_path %>
	</div>
</div>