<div id="portfolio-<%= portfolio.id %>">
  <%= image_tag portfolio.image.url(:thumb)%>
  <span class="name"><strong><%= link_to  portfolio.name , portfolio %></strong></span>
  <span class="content"><%= portfolio.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(portfolio.created_at) %> ago.
  </span>
</div>