<div class = "jumbotron page-content-wrapper">
	<div class = "container-fluid">	

		<table class = "table table-hover">

			<thread>
				<tr>
					<th><strong>Picture</strong></th>
					<th><strong>Name</strong></th>
					<th><strong>Info</strong></th>
					<th><strong>Links</strong></th>
					<th><strong>Content</strong></th>
				</tr>
			</thread>

			<tbody>
				
				<tr>
					<td> <%= image_tag @portfolio.image.url(:medium) %></td>
					<td><%= @portfolio.name %></td>
					<td> <%= @portfolio.info %> </td>
					<td> <%= @portfolio.links %> </td>
					<td> <%= @portfolio.content %> </td>
				</tr>
			</tbody>
		</table>
		<% @portfolio.photos.each do |photo| %>
			<%= image_tag photo.image.url(:thumb) %>
		<% end %>
		<br>
		<br>

		<%= link_to 'Add Photo', new_photo_path(portfolio_id: @portfolio.id) , :class => "btn"%>
		

		<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
		<%= link_to 'Back', portfolios_path %>
		
	</div>
</div>
